/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-beb-slider-gallery {
	.slick-slide {
		img {
			object-fit: cover;
			object-position: center center;
			width: 100%;
			height: 100%;
		}
	}

	.slick-arrow {
		position: absolute;
		top: calc(100% - 3.75rem);
		display: flex !important;
		justify-content: center;
		align-items: center;
		width: 2.75rem;
		height: 2.75rem;
		font-size: 0;
		border-radius: 100%;
		background-color: rgba(238, 238, 238, 0.6);
		backdrop-filter: blur(30px);
		opacity: 1;
		z-index: 1;

		@media (min-width: 768px) {
			width: 3.75rem;
			height: 3.75rem;
		}

		&::before {
			content: url("./assets/svg/arrow.svg");
			display: block;
			width: 1.2rem;
			height: 1.2rem;
			color: #000;
		}
	}

	.slick-prev {
		left: calc(100% - ((3rem * 2) + 1rem));

		&::before {
			transform: rotate(-90deg);
		}

		@media (min-width: 768px) {
			left: calc(100% - 4.75rem * 2);
		}
	}

	.slick-next {
		right: 1rem;

		&::before {
			transform: rotate(90deg);
		}
	}

	&.slick-vertical,
	.slick-vertical {
		.slick-prev {
			top: calc(100% - ((3rem * 2) + 1rem));
			left: auto;
			right: 1rem;

			&::before {
				transform: rotate(0deg);
			}

			@media (min-width: 768px) {
				top: calc(100% - ((3.75rem * 2) + 1rem));
			}
		}

		.slick-next {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
}
